body {
    font-family: Arial, sans-serif;
}

h2{
    color: #28a745;
    text-align: center;
    margin: 4rem;
}

form {
    max-width: 400px;
    margin: auto;
    padding: 1rem;
    border: 1px solid #ccc;
}

label {
    display: block;
    margin-top: 0.5rem;
}

input {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.2rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
}

button {
    padding: 0.5rem 1rem;
    background-color: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
}
